<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group has-success">
    <%= f.label :first_name , class:"form-control" %><br>
    <%= f.text_field :first_name , class:"form-control" %>
  </div>
  <div class="form-group has-success">
    <%= f.label :last_name , class:"form-control" %><br>
    <%= f.text_field :last_name , class:"form-control" %>
  </div>
  <div class="form-group has-success">
    <%= f.label :emails , class:"form-control" %><br>
    <%= f.text_field :emails , class:"form-control" %>
  </div>
  <div class="form-group has-success">
    <%= f.label :phone_number , class:"form-control" %><br>
    <%= f.text_field :phone_number , class:"form-control" %>
  </div>
  <div class="form-group has-success">
    <%= f.label :doctor_id , class:"form-control" %><br>
    <%= f.select(:doctor_id, Doctor.all.collect {|p| [ p.f_name , p.id ] }, { include_blank: true }) , class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'create', class:'btn btn-primary btn-lg '  %>
  </div>
<% end %>
